{% extends '_layout.html' %}

{% block head %}
{% include '_header.html' %}
{% include '_form_head.html' %}
{% endblock %}

{% block content %}

<article class="module width_full">
    <header>
        <h3>進階設定</h3>
    </header>
    <div class="module_content">
        <form id="_form" class="wufoo">
            <ul>
                <li>
                    <label class="desc" for="quotation_id_prefix">
                        報價單前綴編號或文字：
                    </label>
                    <span>
                        <input class="field text" size="50" type="text" value="{{quotation_id_prefix}}" name="quotation_id_prefix" />
                    </span>
                </li>
            </ul>
			<h4 class="alert_info" style="margin:0 0 1em;">支援替換的變數：%year(西元年)、%month(月)、%day(日)、%cyear(民國年)</h4>
            <div>
                <input id="submit" class="btTxt submit" type="submit" value="儲存" />
            </div>
        </form>
    </div> 
</article>

<div id="show_notice" style="display:none;"></div>

<script type="text/javascript">
$(function() {
    $('#_form').validate({
        submitHandler: function() {
            $.post('{{doc_root}}/ajax_save_options', $('#_form').serialize(), function(data) {
                $('#show_notice').html(data).fadeIn('slow', function() {
                    $.equal_height();
                });
            });
            return false;
        }
    });
});
</script>

{% endblock %}
