{% extends '_layout.html' %}

{% block head %}
{% include '_header.html' %}
{% include '_form_head.html' %}
{% endblock %}

{% block content %}

<article class="module width_full">
    <header>
        <h3>{{breadcrumb_title}}</h3>
    </header>
    <div class="module_content">
        <form id="_form" class="wufoo">
            <input type="hidden" name="customer_id" value="{{customer.customer_id}}" />
            <ul>
                <li>
                    <label class="desc" for="customer_name">
                        公司名稱：
                    </label>
                    <span>
                        {{customer.customer_name}}
                    </span>
                </li>
                <li>
                    <label class="desc" for="invoice_title">
                        發票抬頭：
                    </label>
                    <span>
                        {{customer.invoice_title}}
                    </span>
                </li>
                <li>
                    <label class="desc" for="customer_uid">
                        公司統編：
                    </label>
                    <span>
                        {{customer.customer_uid}}
                    </span>
                </li>
                <li>
                    <label class="desc" for="customer_addr">
                        公司地址：
                    </label>
                    <span>
                        {{customer.customer_addr}}
                    </span>
                </li>
                <li>
                    <label class="desc" for="invoice_addr">
                        發票地址：
                    </label>
                    <span>
                        {{customer.invoice_addr}}
                    </span>
                </li>
                <li>
                    <label class="desc" for="customer_phone">
                        公司電話：
                    </label>
                    <span>
                        {{customer.customer_phone}}
                    </span>
                </li>
                <li>
                    <label class="desc" for="customer_fax">
                        公司傳真：
                    </label>
                    <span>
                        {{customer.customer_fax}}
                    </span>
                </li>
                <li>
                    <label class="desc" for="contact_name">
                        聯絡人姓名：
                    </label>
                    <span>
                        {{customer.contact_name}}
                    </span>
                </li>
                <li>
                    <label class="desc" for="contact_phone">
                        聯絡人電話：
                    </label>
                    <span>
                        {{customer.contact_phone}}
                    </span>
                </li>
                <li>
                    <label class="desc" for="contact_email">
                        聯絡人 Email：
                    </label>
                    <span>
                        {{customer.contact_email}}
                    </span>
                </li>
                <li>
                    <label class="desc" for="customer_notes">
                        備註：
                    </label>
                    <span>
                        {{customer.customer_notes|nl2br}}
                    </span>
                </li>
            </ul>
            <div>
                <input id="submit" class="btTxt submit" type="submit" value="刪除客戶" />
            </div>
        </form>
    </div> 
</article>

<div id="show_notice" style="display:none;"></div>

<script type="text/javascript">
$(function() {
    $('#_form').validate({
        submitHandler: function() {
            $.post('{{doc_root}}/ajax_delete_customer', $('#_form').serialize(), function(data) {
                $('#show_notice').html(data).fadeIn('slow', function() {
                    $.equal_height();
                });
            });
            return false;
        }
    });
});
</script>

{% endblock %}
