{% extends '_layout.html' %}

{% block head %}
{% include '_header.html' %}
{% include '_form_head.html' %}
<link rel="stylesheet" href="{{full_doc_root}}/css/quotation_view.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{full_doc_root}}/css/quotation_print.css" type="text/css" media="print" />
<script type="text/javascript" src="{{full_doc_root}}/js/quotation_view.js"></script>
{% endblock %}

{% block content %}

<article class="module width_full">
    <header>
        <h3>報價單內容</h3>
    </header>
    <div class="module_content quotation">
        <div class="print">
            <a id="print" class="big button"><span class="icon"></span>列印報價單</a>
            {% if pdf_enable %} 
            <a id="pdf" class="big button" href="{{full_doc_root}}/quotation_download_pdf/{{quotation.quotation_id}}"><span class="downarrow icon"></span>下載 PDF</a>
            {% endif %}
        </div>
        <div class="clear"></div>
        <div class="company">
            <div id="my_company_logo">
                <img src="{{full_doc_root}}/logo.png" alt="my company logo" />
            </div>
            <p id="company_name">{{quotation.company_name|nl2br}}</p>
            <p id="company_info">{{quotation.company_info|nl2br}}</p>
        </div>
        <div class="clear"></div>
        <div>
            <p id="quotation_name">{{quotation.quotation_name}}</p>
        </div>
        <hr />
        <div class="company">
            <p id="customer_info">{{quotation.customer_info|nl2br}}</p>
            <p id="company_contact">{{quotation.company_contact|nl2br}}</p>
        </div>
        <div class="clear"></div>
        <div id="item_list">
            <table cellspacing="0" cellpadding="0" id="item_table">
                <thead>
                    <tr>
                        <th>項目說明</th>
                        <th>數量</th>
                        <th>單價</th>
                        <th>金額</th>
                        <th>備註</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in quotation_items %}
                    <tr>
                        <td>{{item.desc}}&nbsp;</td>
                        <td class="item_quantity">{{item.quantity}}&nbsp;</td>
                        <td class="item_price">{{item.price}}&nbsp;</td>
                        <td class="item_sub_total">&nbsp;</td>
                        <td>{{item.notes}}&nbsp;</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="price_info">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th>小計</th>
                    <td id="sub_total_price">{{quotation.sub_total_price}}&nbsp;</td>
                </tr>
                <tr>
                    <th>稅金 (5%)</th>
                    <td id="vat_price">{{quotation.vat_price}}&nbsp;</td>
                </tr>
                <tr>
                    <th>總計</th>
                    <td id="total_price">{{quotation.total_price}}&nbsp;</td>
                </tr>
            </table>
        </div>
        <div>
            <p id="customer_notes" >{{quotation.customer_notes|nl2br}}</p>
        </div>
        <div class="company">
            <hr />
            <p id="bank_info">{{quotation.bank_info|nl2br}}</p>
            <hr />
        </div>
        <div id="confirm">
            <div id="confirm_notes">&nbsp;確認訂單(請在此處簽名並蓋公司用印)</div>
            {% if company_fax %}
            <div id="fax">簽名蓋章後請傳真回 {{company_fax}}，謝謝！</div>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</article>

{% endblock %}
