{% extends '_layout.html' %}

{% block head %}
{% include '_header.html' %}
{% include '_form_head.html' %}
<link rel="stylesheet" href="{{doc_root}}/css/quotation.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{doc_root}}/css/quotation_print.css" type="text/css" media="print" />
<script type="text/javascript" src="{{doc_root}}/js/quotation.js"></script>
{% endblock %}

{% block content %}

<article class="module width_full">
    <header>
        <h3>{{breadcrumb_title}}</h3>
    </header>
    <div class="module_content quotation">
        <form id="_form" method="post">
            <div class="company">
                <div id="my_company_logo">
                    <img src="{{doc_root}}/logo.png" alt="my company logo" />
                </div>
                <textarea class="required" id="company_name" name="company_name">{{company_name}} - 報價單</textarea>
                <textarea class="required" id="company_info" name="company_info">
{{company_name}}
地址：{{company_addr}}
電話：{{company_phone}}
{% if company_fax %}傳真：{{company_fax}}{% endif %}
統編：{{company_id}}
                </textarea>
            </div>
            <div>
                <input type="text" class="required" id="quotation_name" name="quotation_name" value="{{quotation_name}} {{quotation_id_prefix}}{{latest_id}}" />
            </div>
            <hr />
            <div class="company">
                <textarea class="required" id="customer_info" name="customer_info">客戶資料</textarea>
                <textarea class="required" id="company_contact" name="company_contact">
{{company_name}} 
聯絡人：{{company_username}}
電話：{{company_phone}}
Email：{{company_email}}
日期：{{today}}
                </textarea>
            </div>
            <div class="clear"></div>
            <div id="item_list">
                <table cellspacing="0" cellpadding="0" id="item_table">
                    <thead>
                        <tr>
                            <th>項目說明</th>
                            <th>數量</th>
                            <th>單價</th>
                            <th>金額</th>
                            <th>備註</th>
                            <th class="action">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" name="items[0][desc]" />
                            </td>
                            <td>
                                <input type="text" name="items[0][quantity]" class="item_quantity" />
                            </td>
                            <td>
                                <input type="text" name="items[0][price]" class="item_price" />
                            </td>
                            <td>
                                <span class="item_sub_total">&nbsp;</span>
                            </td>
                            <td>
                                <input type="text" name="items[0][notes]" />
                            </td>
                            <td class="action">
                                <a class="remove_item button"><span class="cross icon"></span>刪除</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <a id="add_item" class="button"><span class="plus icon"></span>增加項目</a>
                            </td>
                            <td class="action">&nbsp;</td>
                        </tr>
                    </tfoot>
                </table>
                <table cellspacing="0" cellpadding="0">
                    <tr id="item_tpl" style="display:none;">
                        <td>
                            <input type="text" name="items_desc" />
                        </td>
                        <td>
                            <input type="text" name="items_quantity" class="item_quantity" />
                        </td>
                        <td>
                            <input type="text" name="items_price" class="item_price" />
                        </td>
                        <td>
                            <span class="item_sub_total">&nbsp;</span>
                        </td>
                        <td>
                            <input type="text" name="items_notes" />
                        </td>
                        <td class="action">
                            <a class="remove_item button"><span class="cross icon"></span>刪除</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="price_info">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <th>小計</th>
                        <td id="sub_total_price">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>稅金 (5%)</th>
                        <td id="vat_price">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>總計</th>
                        <td id="total_price">&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div>
                <textarea id="customer_notes" name="customer_notes">補充說明或合約</textarea>
            </div>
            <div class="company">
                <hr />
                <textarea id="bank_info" name="bank_info">
付款方式：
戶名：{{bank_company_title}}
銀行：{{bank_name}}
代碼：{{bank_code}}
帳號：{{bank_account}}
                </textarea>
                <hr />
            </div>
            <div id="confirm">
                <div id="confirm_notes">&nbsp;確認訂單(請在此處簽名並蓋公司用印)</div>
                {% if company_fax %}
                <div id="fax">簽名蓋章後請傳真回 {{company_fax}}，謝謝！</div>
                {% endif %}
            </div>
            <div class="clear"></div>
            <input type="hidden" name="sub_total_price" value="" />
            <input type="hidden" name="vat_price" value="" />
            <input type="hidden" name="total_price" value="" />
            <input type="submit" value="建立報價單" />
        </form>
    </div>
</article>

<div id="show_notice" style="display:none;"></div>

<script type="text/javascript">
    $('#_form').validate({
        submitHandler: function() {
            $.post('{{doc_root}}/ajax_save_quotations', $('#_form').serialize(), function(data) {
                $('#show_notice').html(data).fadeIn('slow', function() {
                    $.equal_height();
                });
            });
            return false;
        }
    });
</script>
{% endblock %}
