{% extends '_layout.html' %}
{% block content %}
{% include '_form_head.html' %}

<article class="module width_full">
    <header>
        <h3>帳號資訊</h3>
    </header>
    <div class="module_content">
        <form id="_form_account" class="wufoo">
			<ul>
				<li>
					<label class="desc" for="account_id">
						帳號
					</label>
					<span>
						<input class="required field text" size="50" value="" name="account_id">
					</span>
				</li>
				<li>
					<label class="desc" for="account_id">
						認證方式
					</label>
					<span>
						<select class="required field" style="height:40px;" name="account_type">
						{% for v,t in type_words%}
						<option value="{{v}}">{{t}}</option>
						{% endfor %}
						</select>
					</span>
				</li>
				<li class="pwd_field">
					<label class="desc" for="account_pwd">
						密碼
					</label>
					<span>
						<input class="required field text" size="50" type="password" value="" name="account_pwd">
					</span>
				</li>
				<li class="pwd_field">
					<label class="desc" for="account_pwd2">
						確認密碼
					</label>
					<span>
						<input class="required field text" size="50" type="password" value="" name="account_pwd2">
					</span>
				</li>
				<li>
					<label class="desc" for="account_name">
						姓名
					</label>
					<span>
						<input class="field text" size="50" value="" name="account_name">
					</span>
				</li>
				<li>
					<label class="desc" for="account_phone">
						聯絡電話/分機
					</label>
					<span>
						<input class="field text" size="50" value="" name="account_phone">
					</span>
				</li>
				<li>
					<label class="desc" for="account_email">
						Email
					</label>
					<span>
						<input class="field text" size="50" value="" name="account_email">
					</span>
				</li>
			</ul>
            <div>
                <input id="submit" class="btTxt submit" type="submit" value="新增帳號" />
            </div>
		</form>
    </div>
</article>
<div id="show_notice_info" style="display:none;"></div>
<script type="text/javascript">
$(function() {
	$('select[name=account_type]').change(function(){
		var v=$(this).val();
		if(v!='db'){
			$('.pwd_field').css('display','none');
			$('.pwd_field input').removeClass('required');
		}else{
			$('.pwd_field').css('display','block');
			$('.pwd_field input').addClass('required');
		}
	});
    $('#_form_account').validate({
        submitHandler: function() {
            $.post('{{doc_root}}/ajax_user_add', $('#_form_account').serialize(), function(data) {
                $('#show_notice_info').html(data).fadeIn('slow', function() {
                    $.equal_height();
                });
            });
            return false;
        }
    });
});
</script>
{% endblock %}
